PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/staydriv
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
TATA_SMARTFLO_JWT_TOKEN=your_tata_smartflo_jwt_token
TATA_SMARTFLO_BASE_URL=https://cloudphone.tatateleservices.com

# TATA DLT SMS Gateway Configuration
TATA_SMS_USER=your_tata_sms_user
TATA_SMS_PASS=your_tata_sms_pass
TATA_SMS_SENDER=SRL
TATA_SMS_PE_ID=your_pe_id
TATA_SMS_TEMPLATE_ID=your_template_id
TATA_SMS_GATEWAY_URL=https://ttbssmsgw.tatatel.co.in/campaignService/campaigns/qs
